body{
    background-color: white;
    color: black;
}
a{
    color: red;
}
.main{
    text-align: center;
}
.aza{
    margin-left: 10cm;
    margin-right: 10cm;
}
.holoa{
    background-color: red;
    color: white;
    border-color: red;
    height: 50px;
    width: 6cm;
}
.holob{
    background-color: white;
    color: red;
    border-color: red;
    height: 50px;
    width: 6cm;
}
.axa{
    color: red;
}